
<div class="row">

  <div class="span6 offset3">
  	<h1><%= @user.name %></h1>
  	
<table class="profile" summary = "Profile information">
	<tr><%= gravatar_for @user %>  <%= @user.name %>
		<td class="main">
			
			
		</td>

	</tr>
</table> 