

<div class="center hero-unit">

  <h1>Retail Installment Payment App</h1>
<p>
  Please sign up to view all payments you made on items bought. Admin should sign in to view and update payments made by customers.
</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

