

<div class="center hero-unit">

  <h1>Adelaide's Retail Installment Payment App</h1>
<p>
  Please sign in to add, view, and enter payments made by customers.
</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

