<% provide(:title, 'All Items') %>


<div class="row">

  <div class="span6 offset3">
  	<h1>Show All Items</h1>
  	<p style = "color:grey;"> List of all item showing their prices and categories, click on item name to edit.</p>

  <table>
	<tr> 
	  
		<td><b>Name  --------------------------  </b></td>
		<td><b>Price ------------------</b></td>
		<td><b>Category</b></td>
		
	</tr>
	
		

             <% @items.each do |item| %>
              <tr>
               
                <td>
     			 <%= link_to item.name, item %>
     			</td>

     			<td>
     			 <%= item.price %>
     			</td>

    		    <td>
     			 <%= item.category %>
     			</td> 

     			
    		   
    		   <tr>
  			 <% end %>


</table>

  </div>
</div>




	  
    
   
