<% provide(:title, 'All Items') %>


<div class="row">

  <div class="span6 offset3">
  	<h1>Show All Items</h1>
  	<p style = "color:grey;"> List of all item showing their prices and categories, click on item name to edit.</p>

  <table>
	<tr> 
	  
		<td><b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></td>
		<td><b>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
		<td><b>Category</b></td>
		
	</tr>
	
		

             <% @items.each do |item| %>


              <tr>
               
          <td>
            <ul class="users">
     			    <li><%= link_to item.name, item %> </li>
            </ul>
     			</td>

     			<td>
            <ul class="users">
     			    <li> <%= item.price %> </li>
            </ul>
     			</td>

    		  <td>
            <ul class="users">
     			    <li><%= item.category %></li>
            </ul>
     			</td> 

     			
    		   
    		   <tr>
  			 <% end %>


</table>



  </div>
</div>




	  
    
   
