<% provide(:title, 'All Items') %>

<div class="row">

  <div class="span6 offset3">
  	<h1>Show Items</h1>
  	<p style = "color:grey;"> An item showing its price and category, click on item name to edit.</p>
<table>
	<tr>
	  
		<td><b>Name</b></td>
		<td><b>Category</b></td>
		<td><b>Price</b></td>
	  
    </tr>
    <tr>
		<td><%= @item.name %></td>
		<td><%= @item.category %></td>
		<td><%= @item.price %></td>
	</tr>
</table>

</div>
</div>