<h1><%= @item.name %></h1>
<table>
	<tr>
	  
		<td><b>Name</b></td>
		<td><b>Category</b></td>
		<td><b>Price</b></td>
	  
    </tr>
    <tr>
		<td><%= @item.name %></td>
		<td><%= @item.category %></td>
		<td><%= @item.price %></td>
	</tr>
</table>